.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.card-container {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
  0 3px 6px rgba(0,0,0,0.23);
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
}
