.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.card-container {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
  0 3px 6px rgba(0,0,0,0.23);
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.toggle {
  background: dodgerBlue;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 10px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}
